@using MyCMS.ViewModel
@model MyCMS.ViewModel.HomePageViewModel


@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-9 col-md-push-3">
        <div class="row hidden-xs">
            <div class="col-md-12" id="slideShow">
                @foreach (var post in Model.Posts)
                {
                    Html.RenderPartial("ShowPost", post);
                }
            </div>
        </div>
    </div>
    <aside class="col-md-3 aside-panel col-md-pull-9 as"></aside>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>@Html.LabelForModel(item)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
            </td>
        </tr>
    }

</table>
