@model MyCMS.ViewModel.postViewPageViewModel
@{
    ViewBag.Title = "PostView";
}

<article class="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting" itemscope>
    <div class="panel panel-default top30">

        <div class="panel-heading">
            <header class=""><h3>@Model.Post.Title</h3></header>
        </div>
        <div class="panel-body">
            <div class="col-md-12">@Html.Raw(Model.Post.Body)</div>
        </div>
        <div class="panel-footer ">@Model.Post.PublishedDate</div>
    </div>


</article>
<div id="commentList"></div>

<h2>Leave a comment</h2>
@using (Html.BeginForm())
{ @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.NewComment.AuthorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewComment.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewComment.AuthorName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewComment.AuthorEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewComment.AuthorEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewComment.AuthorEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewComment.AuthorEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea =model.NewComment.Body,4,10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewComment.AuthorEmail, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}